.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 38%;
  right: 38%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  border-radius: 10px;
  background: white;
}
.popup_close {
  position: absolute;
  left: 90%;
  margin: auto;
}
